<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1>Be placed in a role by some who advocates your career aspirations and are industry leaders in the fields of Accounting and IT</h1>
                        <a href="#download" class="btn btn-outline btn-xl page-scroll">FIND OUT WHAT WE DO DIFFERENT!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
