<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1>Don't be put into a job by someone who doesn't know you.</h1>
                        <a href="#download" class="btn btn-outline btn-xl page-scroll">Find out what we do different!</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
              <!-- Empty -->
            </div>
        </div>
    </div>
</header>
