<section id="partners">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Work</h2>
                <hr class="primary">
                <br />
                <p>
                  We ensure that our candidates have the skills and experience for the job through an extensive sourcing process that includes:
                </p>

                <ul style="list-style: none; font-size: 14pt; background-color: #eee; width: 100%; padding: 2em 0;">
                  <li>An evaluation of work history</li>
                  <li>Face-to-face interviews</li>
                  <li>Knowledge evaluation tests</li>
                  <li>Quality assurance testing</li>
                </ul>


                <p>
                  We specialise in sourcing top talent in the areas of Accounting,
                  Finance, IT & Software Development, and Tech Start-ups and we can help you recruit staff across full-time,
                  temporary and project roles. When you partner with Bilgewater Recruitment,
                  you have assurance that will match your business’
                  recruitment needs with the most experienced and skilled professionals.
                </p>
                <p>
                  We specialise in sourcing top talent in the areas of Accounting, Finance, IT & Software Development,
                  and Tech Start-ups and we can help you recruit staff across full-time, temporary and project roles.
                  When you partner with Bilgewater Recruitment, you have assurance that will match your business’
                  recruitment needs with the most experienced and skilled professionals.
                </p>
            </div>
        </div>
    </div>
    <!-- <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-apple wow bounceIn text-primary"></i>
                    <h3>Apple</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-twitch wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Twitch</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>The Australian</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-empire wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Empire</h3>
                </div>
            </div>
        </div>
    </div> -->
</section>
