
    <section id="service" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Let is fill your next role</h2>
                        <p class="text-muted">We actually know what you do day to day</p>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-user text-primary"></i>
                                    <h3>One to One</h3>
                                    <p class="text-muted">You will be advocated by someone who is working in your field</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-briefcase text-primary"></i>
                                    <h3>Trusted</h3>
                                    <p class="text-muted">We are respected amongst the employers</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-notebook text-primary"></i>
                                    <h3>Connected</h3>
                                    <p class="text-muted">Join our network of people and lead your industry together</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-arrow-up text-primary"></i>
                                    <h3>Go up</h3>
                                    <p class="text-muted">Your career will always be going higher</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
